.root {
	-fx-background-color: linear-gradient(#555555, #000000);
}

.label {
	-fx-text-fill: #ffffff;
}

.check-box {
	-fx-text-fill: #aaaaaa;
}

.menu .label {
	-fx-text-fill: #222222;
}
