.root {
	-fx-background-color: linear-gradient(#555555, #000000);
}

.label {
	-fx-text-fill: #aaaaaa;
}

.button {
    -fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0.0%, #f8c202 50.0%, #eea10b 100.0%),
        linear-gradient(from 0.0% 0.0% to 15.0% 50.0%, rgba(255.0,255.0,255.0,0.9), rgba(255.0,255.0,255.0,0.0));
    -fx-background-radius: 30.0;
    -fx-background-insets: 0.0,1.0,2.0,3.0,0.0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14.0px;
    -fx-padding: 10.0 20.0 10.0 20.0;
}

.button:hover {
    -fx-background-color: 
        linear-gradient(#e68400, #ffd65b),
        linear-gradient(#f2ba44, #ffef84),
        linear-gradient(#efaa22, #ffea6a),
        linear-gradient(from 0.0% 0.0% to 15.0% 50.0%, rgba(255.0,255.0,255.0,0.9), rgba(255.0,255.0,255.0,0.0)),
        linear-gradient(#ffe657 0.0%, #f8c202 50.0%, #eea10b 100.0%);
}

.button:pressed {
	-fx-background-color:
        linear-gradient(#e68400, #ffd65b),
        linear-gradient(#f2ba44, #ffef84);
}

#parts {
	-fx-background-radius: 15.0;
	-fx-padding: 5.0 15.0 5.0 15.0;
}
