.button-raised0 {
	-fx-font-size: 14px;
	-fx-button-type: RAISED;
	-fx-background-color: rgb(77,102,204);
	-fx-text-fill: WHITE;
}

.button-raised1 {
	-fx-padding: 0.7em 0.57em;
	-fx-font-size: 14px;
	-fx-button-type: RAISED;
	-fx-background-color: rgb(77,102,204);
	-fx-pref-width: 200;
	-fx-text-fill: WHITE;
}

.button-raised2 {
	-fx-padding: 0.7em 0.57em;
	-fx-font-size: 14px;
	-fx-button-type: RAISED;
	-fx-background-color: rgb(77,102,204);
	-fx-pref-width: 150;
	-fx-text-fill: WHITE;
}

#parts {
	-fx-background-color: #277837;
}